.wrapper {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--mui-palette-text-primary);

    .infoWrapper {
        height: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .playerButton {
            display: flex;
            align-items: center;
            color: var(--mui-palette-secondary-light);

            p {
                margin-left: 15px;
            }
        }
    }
    
    .progressBar {
        background-color: var(--mui-palette-primary-main);
        width: 60%;
        height: 5px;
        transition: width 1s linear;
        border-radius: 0px 4px 4px 0;
        
    }
}
